html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero1 {
    height: 100%;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Barns_grand_tetons.jpg/1200px-Barns_grand_tetons.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    color: white;
}

nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.hero1-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero2 {
    height: 100%;
    background: darkslateblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 1.5rem;
}